@if(sidebarVisible){<div id="overlay" (click)="hideSidebar()"></div>}
        <div class="main-sidebar" >
            <div id="sidebarToggle" (click)="toggleSidebar()"> <img src="/assets/menu.png" width="10px"></div>
                <img src="../assets/images/logo-white.svg" id="logoimage">
            <div class="seperator"></div>
            <div class="nav d-flex flex-column">
                <div class="{{location.includes('/dashboard') ? 'select':''}}"   (click)="router.navigate(['/dashboard'])">
                <div><img src="/assets/images/briefcase.74d2265c4f850fa8cc8042396e9a5d3d.svg"></div>
                    <div>My Jobs</div>
                </div>
                <div id="logout-container">
                    <div><img src="/assets/images/SignOut.b04da355802ee8dd44d8de4988494304.svg"></div>
                    <div (click)="logout()">Logout</div>
                </div>
            </div>
        </div>